body {
    margin: 0px;
    /*   overflow: hidden; */

    position: absolute !important;
}

h2 {
    left: 50%;
    position: absolute;
    top: 50%;

    font-size: 3em;
    color: hsla(255, 255%, 255%, 0.1);
}
